/** general styling **/

html,body{
  width: 100%;
}

.image{
  width: 95%;
  border: 2px black solid;
  padding: 5px;
  margin: 2.5%;
}

form{
  background-color: #efefef;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
}

.but{
    margin-top: 20px;
}


/** tree **/

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
  }

  .node text { font: 12px sans-serif; }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }
/**
svg{
  padding: 20px !important;
  margin-top: 20px !important;
}

**/